<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
    <target xsi:type="File"
              name="logfile"
              layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${message} ${onexception:${exception:format=tostring}}"
              fileName="${basedir}/logfiles/log.txt"
              archiveFileName="${basedir}/logfiles/log-{#}.txt"
              archiveEvery="Day"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd"
              maxArchiveFiles="10"
              concurrentWrites="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>