bin
Bin
obj
Obj
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
*.Cache
*.user
Thumbs.db
msbuild.log

Build/*
src/.vs
src/packages
src/SampleAppMvc5/logfiles/*
src/.vs/config/applicationhost.config