bin
Bin
obj
Obj
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
*.Cache
*.user
Thumbs.db

package/input/lib/net40/*
!package/input/lib/net40/.gitignore
package/output