bin
Bin
obj
Obj
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
*.Cache
*.user

package/input/lib/net40/*
!package/input/lib/net40/.gitignore
package/output
# push.cmd contains my secret nuget access key!
package/push.cmd