<!DOCTYPE html>
<html>
<head>
    <title>Test Area</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>
<body>
    <h1>Test Area</h1>
</body>
</html>
