<!DOCTYPE html>
<html>
<head>
    <title>Test Area</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Test Area</h1>
</body>
</html>
